@CHARSET "ISO-8859-1";


.fixedheader{
	top: 0;
    color: #fff;
    background-color: #3c763d;
    padding: 18px 0 0;
    border-bottom: 1px solid #5cb85c;
    position: fixed;
    left: 0;
    width: 100%;
	}
	
	#profile-pics{
	width: 40px;
    height: 40px;
    background: #225a46;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px
}

a:hover { 
    background-color:transparent;
}
a{
	color: #fff;
}
.navbar-right-custom{
	margin-right: 34px;
	background-color:transparent;
}	