@CHARSET "ISO-8859-1";

.login-default{
 margin-top: 30px;
}

input[type=text]{
	border-radius: 0px; 
	
}

input[type=password]{
	border-radius: 0px; 
	
}

.panel > .custom-panel-heading {
    background-image: none;
    background-color:  rgb(104,174,0);
    color: white;

}