@CHARSET "ISO-8859-1";


.panel-blue {
    border-color:rgb(52,122,184);
}

.panel-blue .panel-heading {
    border-color: rgb(52,122,184);
    color: #fff;
    background-color: rgb(52,122,184);
}

.panel-blue a {
    color: rgb(52,122,184);
}

.panel-blue a:hover {
    color: rgb(52,122,184);
}



.panel-green {
    border-color: rgb(104,174,0);
}

.panel-green .panel-heading {
    border-color: rgb(104,174,0);
    color: #fff;
    background-color: rgb(104,174,0);
}

.panel-green a {
    color: rgb(104,174,0);
}

.panel-green a:hover {
    color: rgb(104,174,0);
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-orange {
    border-color: rgb(252,130,19);
}

.panel-orange .panel-heading {
    border-color: rgb(252,130,19);
    color: #fff;
    background-color: rgb(252,130,19);;
}

.panel-orange a {
    color: rgb(252,130,19);
}

.panel-orange a:hover {
    color: rgb(252,130,19);
}


